
 
  
 
  
  .fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-one{
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-thin-two{
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-thin-three {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
 

body{
  background-color: #f1f1f1;
}
*{
  max-width: 1140px;
    margin: 0 auto;
   
}  
/*hero style*/
.hero{
  background-color: rgba(198, 228, 214, 1);
  display: flex;
  background-position: center;
  justify-content: space-between;
  align-items: center;
  height: 560px;
  gap:64px;
  border-radius:24px ;
  padding: 100px 80px;
  margin-top: 50px;
}
.hero-title{
  color: rgba(14, 14, 14, 0.5);
  font-size: 24px;
  font-weight: 400;
}
.hero-sub-title{
  color: rgba(14, 14, 14, 1);
  font-size: 55px;
  font-weight: bold;
}
.btn{
  background-color: rgba(0, 106, 80, 1);
  padding: 17px 34px;
  border-radius: 8px;
  border: none;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 24px;
}
.btn:hover{
  background-color: rgb(7, 51, 51);
}
main section{
  margin-top: 80px;
  margin-bottom: 80px;
}
/*pillars style*/
.section-title{
  padding: 20px;
  color: rgba(14, 14, 14, 1);
  font-size: 40px;
  font-weight: bold;
}
.pillars-container{
  display: flex;
  gap: 24px;
  
}
.pillars{
  padding: 15px;
  border-radius: 5px;
  box-shadow:0px 5px 50px 0px rgba(14, 14, 14, 0.15);
}
.pillars-description{
  color: rgba(14, 14, 14, 0.7);
  font-weight: 400;
  font-size: 16px;
}
/*future style*/
.future-sub-title{
  color: rgba(14, 14, 14, 1);
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}
.future-title{
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: bold;
  margin-top: 24px;
}
.future-description{
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: bold;
}
.text-padding{
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: bold;
}
.futures-container{
  display: flex;
  gap:24px;
  margin-top:30px;
}
.futureone{
  background-color:rgba(84, 144, 245, 0.2) ;
  padding:32px;
  border-radius:16px;
}
.futuretwo{
  background-color:rgba(198, 228, 214, 1) ;
  padding:32px;
  border-radius:16px;
}
.futurethree{
  background-color:rgba(247, 235, 207, 1) ;
  padding: 32px;
  border-radius:16px;
}
.btn-one{
background-color: rgba(255, 194, 57, 1);
padding: 11px 20px;
color: rgba(255, 255, 255, 1);
font-size: 16px;
font-weight: 600;
border: none;
border-radius: 8px;
margin-top: 24px;
}
.btn-one:hover{
  background-color:rgb(182, 132, 17) ;
  cursor: pointer;
  transition: 0.3s;
}
.btn-two{
  background-color: rgba(9, 161, 92, 1);
  padding: 11px 20px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 600;
 border: none;
 border-radius: 8px;
 margin-top: 24px;
}
.btn-two:hover{
  background-color: rgb(3, 97, 55); 
  cursor: pointer;
  transition: 0.3s;
}
.btn-three{
  background-color: rgba(84, 144, 245, 1);
padding: 11px 20px;
color: rgba(255, 255, 255, 1);
font-size: 16px;
font-weight: 600;
border: none;
border-radius: 8px;
margin-top: 24px;
}
.btn-three:hover{
  background-color: rgb(27, 73, 151);
  cursor: pointer;
  transition: 0.3s;
}

/* chief style*/

.chief{
  background-color: rgb(236, 234, 234);
  height: 160px;
  background-image: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  align-items: center;
  border-radius: 16px;
  padding: 48px 24px;
 background-position: left 25px top 24px;
}

.chief-description{
  color: rgba(14, 14, 14, 0.8);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;
}
.chief-title{
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}
.chief-sub-title{
  color: rgba(14, 14, 14, 0.6);
  font-size: 16px;
  font-weight: 400;
}

/*table style*/
.table{
height: 440px;
}

.container {

  
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 40px;
  font-weight: bold;
  color: rgba(14, 14, 14, 1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead th {
  background-color: #e8f5e9;
  color: rgba(14, 14, 14, 1);
  font-weight: 600;
  font-size: 20px;
  padding: 24px;
  text-align: left;
}

tbody td {
  color: rgba(14, 14, 14, 1);
  font-size: 16px;
  font-weight: 600px;
  border: 1px solid #ddd;
  padding: 24px;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #f9f9f9;
  font-size: 14px;
}
/*box style*/
.box1-left img{
 border-radius: 24px;
}
.box-title{
  color: rgba(14, 14, 14, 1);
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}
.box-description{
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  margin-top: 12px;
}
.box1-title{
  color: rgba(14, 14, 14, 0.8);
  font-size: 32px;
  font-weight: bold;
}
.date{
  margin-bottom: 12px;
  margin-top: 12px;
  display: inline;
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
}
 .box1{
  padding: 48px;
  display: flex;
  gap: 32px;
  margin: 0 auto;
  justify-content: space-around;
  margin-top: 50px;
  align-items: center;
  box-shadow:  4px 4px 8px gray;
  border-radius: 24px;
  text-align: justify;
} 
.box2{
  padding: 48px;
  display: flex;
  gap: 32px;
  margin: 0 auto;
  justify-content: space-around;
  margin-top: 50px;
  align-items: center;
  box-shadow:  4px 4px 8px gray;
  border-radius: 24px;
  text-align: justify;
}
.box3{
  padding: 48px;
  display: flex;
  gap: 32px;
  margin: 0 auto;
  justify-content: space-around;
  margin-top: 50px;
  align-items: center;
  box-shadow:  4px 4px 8px gray;
  border-radius: 24px;
  text-align: justify;
}
.btn-primary{
  background-color: rgba(0, 106, 80, 1);
  padding: 13px 26px;
  color:rgba(255, 255, 255, 1) ;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 32px;
}
.btn-primary:hover{
  background-color:rgb(4, 207, 156) ;
}
/*donate style*/
.donate{
  text-align: center;
  padding: 0px 88px;
  height: 464px;
  margin-top: 80px;
}
.donate-description{
  color:rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
}
.button{
  margin-top: 32px;
  margin-bottom: 32px;
  width: 100%;
  display: flex;
  gap: 24px;
  justify-content: space-around;
}
.btn-primary-one{
  background-color: rgba(14, 14, 14, 0.15);
  border: none;
  border-radius: 7px;
  padding: 20px;
  color: rgba(14, 14, 14, 0.8);
  font-weight: bold;
  font-size: 40px;
}
.btn-primary-change{
  background-color:rgba(198, 228, 214, 1) ;
  padding: 20px;
  border: none;
  border-radius: 7px;
  color: rgba(14, 14, 14, 0.8);
  font-weight: bold;
  font-size: 40px;
}
.btn-primary-one:hover{
  background-color: rgb(177, 175, 175);
  cursor: pointer;
  transition: 0.3s;
}
.btn-primary-change:hover{
  background-color: rgb(177, 175, 175);
  cursor: pointer;
}
.donate input[type="text"]{
  height: 64px;
  width: 95%;
  padding-left: 15px;
  padding-right: 20px;
  border-radius: 20px;
  border: none;
  display: block;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 32px;
}
/*footer style*/

 .footer-container{
  max-width: 100%;
  height: 340px;
  background-color:rgba(198, 228, 214, 1);
  border-radius:24px;
 text-align: center;
 padding: 100px 80px;
 
} 
 .footer-title{
  color: rgba(14, 14, 14, 1);
  font-size: 40px;
  font-weight: bold;
  padding-top: 100px;
  padding-bottom: 16px;
 }
 .footer-description{
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 600;
 }
 .input-button{
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  padding: 18px 404px 18px 40px;
  margin-left: 0px;
}
.button-input{
  margin-top: 30px;
  margin-bottom: 30px;
  position: absolute;
  border: none;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
  padding: 17px 34px;
  background-color: rgba(0, 106, 80, 1);
  color: white;
} 
.button-input:hover{
  background-color:rgb(7, 46, 36) ;
  cursor: pointer;
  transition: 0.3s;
}


/*footer end style*/
.footer-end{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 130px;
}
.footer-end-title{
  margin-top: 50px;
  color: rgba(14, 14, 14, 1);
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}
